In [6]:
import pandas as pd

In [8]:
pd.read_csv('Covid_19_data.csv')

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

In [12]:
Covid=pd.read_csv('Covid_19_data.csv')

In [ ]:
#Show the number of confirmed, Deaths and Recovered in each region

In [14]:
Covid [['Region','Deaths','Recovered']]

             Region  Deaths  Recovered
0       Afghanistan      60        252
1           Albania      30        455
2           Algeria     444       1702
3           Andorra      42        423
4            Angola       2          7
..              ...     ...        ...
316              US       7          0
317  Mainland China       3         73
318          Canada       0          0
319  Mainland China       2        181
320  Mainland China       1       1263

[321 rows x 3 columns]

In [ ]:
#2.	Remove all the records where confirmed cases is less than 10

In [17]:
Confirmed= Covid['Confirmed']

In [19]:
Confirmed

0      1939
1       766
2      3848
3       743
4        27
       ...
316     545
317      76
318      11
319     185
320    1268
Name: Confirmed, Length: 321, dtype: int64

In [20]:
Confirmed_Above_10=Confirmed > 10

In [22]:
Covid[Confirmed_Above_10]

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[301 rows x 6 columns]

In [ ]:
#In which region was the maximum number of confirmed cases recorded

In [23]:
Covid[['Region','Confirmed']].max()

Region       Zimbabwe
Confirmed      299691
dtype: object

In [ ]:
#In which region was the minimum number of Death cases recorded

In [24]:
Covid[['Region','Deaths']].min()

Region    Afghanistan
Deaths              0
dtype: object

In [ ]:
#How many confirmed, Deaths and Recorded cases were reported from India till 29th April 2020

In [25]:
DATE=Covid['date']

KeyError: 'date'